 :root {
     --primary-color: #000;
     --secondary-color: #0a0a0a;
     --text-light: #f4f4f4;
 }

 /* --- Sidebar Styles --- */
 .sidebar {
     width: 260px;
     background-color: var(--primary-color);
     padding: 20px;
     display: flex;
     flex-direction: column;
     transition: all 0.3s ease;
     position: fixed;
     left: 0;
     top: 0;
     bottom: 0;
     z-index: 100;
 }

 .sidebar.close {
     width: 78px;
 }

 .sidebar-header {
     display: flex;
     align-items: center;
     color: var(--text-light);
     padding-bottom: 20px;
     border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 }

 .sidebar-header a {
     text-decoration: none;
     color: var(--text-light);
     display: flex;
     align-items: center;
 }

 .sidebar-header h2 {
     font-size: 1.5rem;
     margin-left: 10px;
     font-weight: 600;
     transition: opacity 0.3s ease;
     white-space: nowrap;
 }

 .sidebar.close .sidebar-header h2 {
     opacity: 0;
     pointer-events: none;
 }

 .sidebar-nav {
     list-style: none;
     flex-grow: 1;
     padding-top: 20px;
 }

 .sidebar-nav li {
     margin-bottom: 10px;
 }

 .logo {
     width: 50px;
     height: 50px;
     border: solid 1px #fff;
     border-radius: 50%;
 }

 .sidebar-nav a {
     display: flex;
     align-items: center;
     padding: 12px 15px;
     border-radius: 8px;
     text-decoration: none;
     color: var(--text-light);
     background-color: transparent;
     transition: background-color 0.3s ease;
     white-space: nowrap;
 }

 .sidebar-nav a:hover {
     background-color: rgba(255, 255, 255, 0.2);
 }

 .sidebar-nav a i {
     font-size: 20px;
     margin-right: 15px;
     min-width: 20px;
     text-align: center;
 }

 .sidebar.close .sidebar-nav span {
     opacity: 0;
     pointer-events: none;
 }